.grid {
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  gap: 16px;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
}
.grid:active {
  cursor: grabbing;
}
@media (max-width: 640px) {
  .grid {
    width: 300px;
  }
}
