.main {
  max-width: 1200px;
  margin: 0 auto;
}
.arrivalText {
  color: var(--text-primary);
}
.container {
  padding: 32px 16px;
}
.grid {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 16px;
  cursor: grab;
  user-select: none;
  scroll-behavior: smooth;
}
.grid:active {
  cursor: grabbing;
}
@media (max-width: 640px) {
  .grid {
    width: 400px;
  }
}
