.showcase-container {
  margin: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.showcase-button {
  border: none;
  background-color: var(--background);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.showcase-button:active,
.showcase-button.selected {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.showcase-product-container {
  position: relative;
  width: 100%;
}
.showcase-product-container .products-grid {
  flex: 2;
  display: flex;
  width: 100%;
  min-width: 0;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.showcase-product-container .product-container {
  background: radial-gradient(circle, white, rgb(243, 251, 254));
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  width: 180px;
  flex: 0 0 180px;
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.showcase-product-container .product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.showcase-product-container .product-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.showcase-product-container .product-name {
  height: 40px;
  margin-bottom: 5px;
  font-size: 14px;
}

.showcase-product-container .product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.showcase-product-container .product-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.showcase-product-container .product-rating-count {
  color: rgb(25, 135, 84);
  cursor: auto;
  margin-top: 3px;
  font-size: 14px;
}

.showcase-product-container .product-price {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
}

.showcase-product-container .product-quantity-container {
  border: none;
  display: flex;
  align-items: center;
}

.showcase-product-container .product-spacer {
  flex: 1;
}

.showcase-product-container .added-to-cart {
  color: rgb(25, 135, 84);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}
.showcase-product-container .quantity-icon {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.showcase-product-container .quantity-display {
  padding: 5px;

  background-color: rgba(245, 238, 220, 0.6);
}

.showcase-product-container .added-to-cart img {
  height: 19px;
  margin-right: 6px;
}
.showcase-product-container .quantity-button-minus {
  border: none;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 2px 5px rgba(179, 179, 179, 0.4);
  background-color: rgba(245, 238, 220, 0.6);
}
.showcase-product-container .quantity-button-plus {
  border: none;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 2px 5px rgba(179, 179, 179, 0.4);
  background-color: rgba(245, 238, 220, 0.6);
}

.showcase-product-container .add-to-cart-button {
  width: 100%;
  padding: 8px 5px;
  height: 34px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(78, 78, 78, 0.6);
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 40px 1%;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (max-width: 767px) {
  .swiper-carousel {
    display: none;
  }
  .swiper-carousel-mobile {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
  }
  .shop-now-button {
    position: absolute;
    left: 35%;
    top: 55.7%;
    z-index: 1;

    padding: 4% 17% 4% 20%;
    border: none;
    color: #fff;
  }
}
