.showcaseContainer {
  margin: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.showcaseButton {
  border: none;
  background-color: var(--background);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.showcaseButton:active,
.showcaseButton.selected {
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.showcaseProductContainer {
  position: relative;
  width: 100%;
}
.showcaseProductContainer .productsGrid {
  flex: 2;
  display: flex;
  width: 100%;
  min-width: 0;
  overflow-x: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.showcaseProductContainer .productContainer {
  background: radial-gradient(circle, white, rgb(243, 251, 254));
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  width: 180px;
  flex: 0 0 180px;
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.showcaseProductContainer .productImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}

.showcaseProductContainer .productImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.showcaseProductContainer .productName {
  height: 40px;
  margin-bottom: 5px;
  font-size: 14px;
}

.showcaseProductContainer .productRatingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.showcaseProductContainer .productRatingStars {
  width: 100px;
  margin-right: 6px;
}

.showcaseProductContainer .productRatingCount {
  color: rgb(25, 135, 84);
  cursor: auto;
  margin-top: 3px;
  font-size: 14px;
}

.showcaseProductContainer .productPrice {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 14px;
}

.showcaseProductContainer .productQuantityContainer {
  border: none;
  display: flex;
  align-items: center;
}

.showcaseProductContainer .productSpacer {
  flex: 1;
}

.showcaseProductContainer .addedToCart {
  color: rgb(25, 135, 84);
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 0;
}
.showcaseProductContainer .quantityIcon {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.showcaseProductContainer .quantityDisplay {
  padding: 5px;

  background-color: rgba(245, 238, 220, 0.6);
}

.showcaseProductContainer .addedToCart img {
  height: 19px;
  margin-right: 6px;
}
.showcaseProductContainer .quantityButtonMinus {
  border: none;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0 2px 5px rgba(179, 179, 179, 0.4);
  background-color: rgba(245, 238, 220, 0.6);
}
.showcaseProductContainer .quantityButtonPlus {
  border: none;

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 2px 5px rgba(179, 179, 179, 0.4);
  background-color: rgba(245, 238, 220, 0.6);
}

.showcaseProductContainer .addToCartButton {
  width: 100%;
  padding: 8px 5px;
  height: 34px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(78, 78, 78, 0.6);
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 40px 1%;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }

  .intro h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -1.92px;
  }
}

@media (max-width: 767px) {
  .swiperCarousel {
    display: none;
  }
  .swiperCarouselMobile {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
  }
  .shopNowButton {
    position: absolute;
    left: 35%;
    top: 55.7%;
    z-index: 1;

    padding: 4% 17% 4% 20%;
    border: none;
    color: #fff;
  }
}
