/* Base Carousel Container Styles */
.swiper-carousel {
  width: 100%;
  height: auto;
}

.swiper-slide {
  position: relative;
  width: 100%;
}

.carousel-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-button {
  position: absolute;
  bottom: 32%;
  left: 25%;
  font-size: 20px;
  font-weight: 600;
  background-color: var(--button-primary);
  color: var(--text-tretiary);
  border-radius: 40px;
  border: 1px solid var(--button-primary-border);

  padding: 24px 60px;
  z-index: 10;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.swiper-button:hover {
  transform: translateY(-2px);
  box-shadow: var(--modern-shadow);
  background-color: var(--button-primary-hover);
}
.mobile-image .swiper-button {
  position: absolute;
  bottom: 32%;
  left: 40%;
  font-size: 16px;
  padding: 12px 30px;
}

.desktop-image {
  display: none;
}

.mobile-image {
  display: block;
}

@media (min-width: 768px) {
  .desktop-image {
    display: block;
  }

  .mobile-image {
    display: none;
  }
}
