.header {
  background-color: var(--foreground);
  color: black;
  border-bottom: 1px solid var(--border-default);
  display: flex;

  justify-content: space-between;
  top: 10;

  max-width: 100vw;
  width: 96%;
  margin: 2%;
  height: 60px;
  z-index: 1001;
  position: absolute;
  border-radius: 10px;
  border: 1px solid var(--border-default);
}

.header .left-section {
  width: 20%;
  display: flex;
  flex: 1;
  align-items: center;
}

.header .header-link {
  display: inline-block;
  padding: 6px 9.5px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.header .logo {
  height: 27px;
  width: 100%;
  margin-top: 1px;
}

.header .mobile-logo {
  display: none;
}
.toggle-containers {
  display: none;
}
.header .middle-section {
  flex: 2;

  display: flex;
  align-items: end;
}

.search-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 1100;
}
.search-bar {
  width: 80%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2.2px;
  margin-left: 5px;
  height: 34px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}
.search-button {
  background-color: var(--button-primary);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 45px;
  height: 41px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-shrink: 0;
}
.search-icon {
  width: 25px;
  filter: invert(100%);
}
.close-button {
  border: none;
  background-color: #f3fbfe;
}
.close-icon {
  width: 25px;
  height: 25px;
  margin-left: 20px;
}

.search-bar-overlay {
  background-color: rgb(243, 251, 254);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .search-bar {
  width: 80%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 2.2px;
  height: 34px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
}

.header .search-button {
  background-color: var(--background);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 45px;
  height: 50px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-shrink: 0;
}

.header .search-icon {
  height: 25px;
  filter: invert(0%);
}

.header .right-section {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.header .cart-link {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.header .cart-icon {
  width: 30px;
  height: auto;
  color: transparent;
  filter: invert(20%);
}

.header .cart-text {
  margin-left: 5px;
  font-size: 15px;
  font-weight: 700;
  color: black;
}

.header .cart-quantity {
  position: absolute;
  background-color: white;
  bottom: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 12px;
  font-weight: bold;
  z-index: 1;
}

@media (max-width: 675px) {
  .left-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
  }
  .middle-section {
    order: 1;
    margin-bottom: 10px;
    margin-right: 10%;
  }
  .right-section {
    order: 3;
    margin-left: 10%;
  }
  .toggle-containers {
    display: flex;
    height: 40px;
    width: 10%;
    justify-content: space-between;
  }
  .right-section .search-button {
    display: none;
    size: 24px;
  }
  .menubar-container {
    display: none;
  }
}

@media (min-width: 1306px) {
  .header {
    max-width: 90%;
    left: 2%;
  }
}
@media (min-width: 1472px) {
  .header {
    max-width: 85%;
    left: 4%;
  }
}
@media (min-width: 1602px) {
  .header {
    max-width: 80%;
    left: 7%;
  }
}
@media (min-width: 1722px) {
  .header {
    max-width: 70%;
    left: 16%;
    height: 80px;
    border-radius: 40px;
    font-size: 20px;
  }
}
@media (min-width: 1900px) {
  .header {
    max-width: 60%;
    left: 16%;
    font-size: 22px;
  }
}
