.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 16px;
}

.welcomeText {
  color: #4a5568;
  margin-top: 8px;
  font-size: 14px;
}

.welcomeText strong {
  color: #1a202c;
}

.searchStatus {
  margin: 24px 0;
  color: var(--text-secondary);
  font-size: 14px;
}
.searchNoFound {
  margin: 24px 0;
  color: var(--text-secondary);
  font-size: 14px;
  position: relative;
  left: 150%;
  top: 70%;
}

.grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: clamp(16px, 3vw, 32px);
}

.linkClick {
  text-decoration: none;
  color: var(--text-primary);
}
