.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 32px;
}
.backLinkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #3467cc;
  margin: 10px;
}
.backLink {
  color: #3467cc;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.backLink:hover {
  text-decoration: underline;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  align-items: start;
}

@media (min-width: 768px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  padding: 16px;
  border: 2px solid var(--border-default);
  border-radius: 8px;
  max-width: 380px;
}

.title {
  color: var(--text-primary);

  overflow-wrap: break-word;
  max-width: 100%;
  text-wrap: balance;
}

.price {
  font-size: 28px;
  font-weight: 700;
  color: #3467cc;
}

.sizeTitle {
  font-size: 20px;

  color: var(--text-secondary);
}
.sizeContainer {
  display: flex;
  gap: 6px;
}

.errorText {
  color: var(--error);
}

.description {
  font-size: 17px;
  line-height: 1.7;
  color: #4a5568;
  margin-bottom: 32px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actionButton {
  background-color: #3467cc;
  color: white;
  border: none;
  padding: 15px 0;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 4px;
}

.actionButton:hover {
  background-color: #254da1;
}
