.colletionSection {
  box-sizing: border-box;
}

.collectionContainer {
  display: grid;
  grid-template-columns: 700px 500px;
  margin: 10px 2%;
  justify-content: center;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 700px;
  align-items: center;
  justify-content: space-between;
}

.topWrapper,
.bottomWrapper {
  width: 600px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  transition: ease-out 0.3s;
  border: 1px solid var(--border-default);
  background-color: var(--button-secondary);
}

.techImage,
.appImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.appButton,
.techButton {
  background-color: var(--button-primary);
  border: 1px solid var(--border-default);
  color: var(--button-primary-text);
  padding: 8px 12px;
  border-radius: 6px;
  transition: ease-out 0.2s;
}

.appButton:hover,
.techButton:hover {
  background-color: var(--button-primary-hover);
  box-shadow: var(--modern-shadow);
  transform: translateY(-2px);
}

.appButton {
  position: absolute;
  right: 38%;
  bottom: 25%;
}
.techButton {
  position: absolute;
  left: 8%;
  bottom: 20%;
}

.columnRight {
  display: flex;
  flex: 1;
  height: 600px;

  max-width: 500px;
}
.rightWrapper {
  width: 450px;
  height: 600px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--modern-shadow);
  background-color: #3367cb;
}
.deliverImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: inline-block;
}
@media (max-width: 640px) {
  .collectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .columnLeft {
    gap: 20px;
  }
  .columnRight {
    margin: 20px;
  }

  .topWrapper,
  .bottomWrapper {
    width: 350;
    height: 180;
    display: flex;
    justify-content: space-between;

    padding: 0px 20px;
  }
  .rightWrapper {
    width: 380px;
    height: 508px;
    padding: 0px;
  }
  .appButton {
    position: absolute;
    right: 16%;
    bottom: 15%;
    padding: 15px 40px;
  }
  .techButton {
    position: absolute;
    left: 9%;
    bottom: 10%;
    padding: 15px 40px;
  }
}
