.link {
  padding: 8px;
  text-decoration: none;
  color: var(--text-primary);
}

.link:hover {
  background-color: var(--button-primary);
  color: var(--button-primary-text);
}

.active {
  background-color: var(--button-primary-hover);
  color: var(--button-primary-text);
}
